<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
   <h2>{{body}}</h2>         

   <button type="submit", id = "submitButton">{{buttonText}}</button>

   <script>
        // Event listener for Log In Button
        const submitButton = document.getElementById('submitButton');

        if (script == 'loginScript') {

          submitButton.addEventListener('click', function() {            
            console.log("login")
          });

        } else if (script == 'registerScript') {

          submitButton.addEventListener('click', function() {
            console.log("register")
          });
        } else {
          console.log("nothing happening")
        }

        

    </script>
</body>
</html>