<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="title.css">
</head>
<body>
   <div class = "seven">
    <h1>{{title}}</h1>
   </div>
   <h2>{{body}}</h2>         


      <input type="text" id="username" name="username"><br><br>
      <input type="password" id="psw" name="psw"><br><br>
      <button type="submit", class="button-55", id = "logInButton">{{buttonText}}</button>
  

   <script>

      var submitButton = document.getElementById('logInButton');
      var idLabel = document.getElementById('username');
      var pswLabel = document.getElementById('psw');

      submitButton.addEventListener('click', function() {

        //gets user input
        var id = idLabel.value
        var psw = pswLabel.value

        const response = fetch('/checkDB', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
              name: id, 
              password: psw  
              })
          }) .then(response => {
        
              if (response.ok) { //check response
                  window.location.href = '/home';
              } 
          })
    });

    </script>
</body>
</html>